<div class="container" *ngIf="(service.products | async) as products">
  <div class="products">
    <div class="product" *ngFor="let product of products; let i = index">
      <div class="sale" *ngIf="product.promotion">
        <span class="flash-sale">FLASH SALE</span>
        <span class="sale-value">{{product.promotion.percent}}%</span>
      </div>
      <img [src]="product.thumb" width="100%"/>
      <div class="foot">
        <span class="name">{{product.name}}</span>
        <span class="price">${{product.price}}</span>
      </div>
      <div class="buy">
        <div class="buy-btn" (click)="onBuy(i)">
          <span>Buy now</span>
        </div>
      </div>
    </div>
  </div>
  <app-order [product]="products[currentProductIndex]"></app-order>
</div>