.container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    .products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .product {
        position: relative;
        min-width: 400px;
        max-width: 400px;
        cursor: pointer;
        .name {
            float: left;
            font-size: 20px;
        }
        .price {
            float: right;
            font-size: 20px;
        }
        .sale {
            width: 100px;
            height: 118px;
            background-image: url('../assets/label_sale_off.png');
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: white;
            .sale-value {
                color: yellow;
                font-size: 22px;
            }
            .flash-sale {
                font-size: 12px;
            }
        }
        .buy {
            width: 100%;
            height: 100%;
            position: absolute;
            align-items: center;
            justify-content: center;
            top: 0;
            display: none;
            .buy-btn {
                width: 200px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                font-size: 20px;
                font-weight: 700;
                background-color: #f5c426;
                border-radius: 3px;
            }
        }
        &:hover {
            .sale, img {
                opacity: 0.4;
            }
            .buy {
                display: flex;
            }
        }
    }
}