/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

app-root {
    width: 100%;
    height: 100%;
    background-color: yellow;
}

input {
    outline: none;
    width: 50px;
    height: 35px;
    font-size: 18px;
}