#order {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    .overlay {
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        z-index: 1;
        position: absolute;
    }
    .content-container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
            width: 500px;
            height: 500px;
            background-color: #fff;
            position: relative;
            border-radius: 10px;
            .head {
                text-align: center;
                font-size: 22px;
                font-weight: 700;
                margin: 10px;
            }
            .body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
            .foot {
                width: 100%;
                height: 50px;
                background-color: silver;
                position: absolute;
                bottom: 0;
                display: flex;
                .btn {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    &:nth-child(1) {
                        border-right: 1px solid #fff;
                    }
                    &:hover {
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }

        .order-success {
            width: 350px;
            height: 300px;
            padding: 10px;
            background-color: #fff;
            position: relative;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            .success-msg {
                font-size: 22px;
                font-weight: 700;
                color: green;
            }
            .error-msg {
                font-size: 22px;
                font-weight: 700;
                color: red;
            }
            .close-btn {
                position: absolute;
                bottom: 5px;
                width: 70px;
                height: 40px;
                background-color: silver;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
}