<div id="order" *ngIf="product">
    <div class="overlay"></div>
    <div class="content-container">
        <div class="content" *ngIf="success == null">
            <div class="head">{{product.name}}</div>
            <div class="body">
                <img [src]="product.thumb" width="200px" />
                <div class="quantity-price">
                    <span style="font-size: 22px;">x</span>
                    <input type="number" [(ngModel)]="quantity"/>
                    <span style="font-size: 22px; font-weight: 700;"> = ${{quantity * product.price}}</span>
                </div>
                <div *ngIf="product.promotion">
                    <span style="font-size: 22px; font-weight: 700; margin-left: 15px;">-{{product.promotion.percent}}% = ${{quantity * product.price * product.promotion.percent / 100}}</span>
                </div>
            </div>
            <div class="foot">
                <div class="btn" (click)="onConfirm()">Buy</div>
                <div class="btn" (click)="onCancel()">Cancel</div>
            </div>
        </div>

        <div class="order-success" *ngIf="success != null">
            <span class="success-msg" *ngIf="success">{{message}}</span>
            <span class="error-msg" *ngIf="!success">{{message}}</span>

            <img src="../../assets/success.svg" alt="" width="45px" *ngIf="success">
            <img src="../../assets/warn.svg" alt="" width="45px" *ngIf="!success">

            <span class="order-number" *ngIf="orderNumber">Order Number: #{{orderNumber}}</span>

            <div class="close-btn" (click)="onCancel()">
                <span>OK</span>
            </div>
        </div>
    </div>
</div>